@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --secondary-accent-color: rgba(255, 255, 255, 0.6);
  --background-color: #f5f4fa;
  --border-header: #ececec;
  --border-portfolio: #eeeeee;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.header {
  border-bottom: 1px solid var(--border-header);
}

.header-portfolio {
  border-bottom: 1px solid var(--border-header);
}

.header {
  display: block;
}

.logo,
.footer-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo {
  margin-right: 92px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-list {
  color: var(--secondary-text-color);
}

.logo-item {
  color: var(--main-background-color);
}

.navigation-list .link {
  position: relative;
}

.link-current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: background-color 250ms var(--cubic);
}

.site-nav,
.main-nav,
.navigation,
.navigation-portfolio,
.header .container,
.header-portfolio .container {
  display: flex;
  align-items: center;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list:not(:last-child) {
  margin-right: 50px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
}

.address-list {
  margin-right: 50px;
}

.mail-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-telefon {
  align-items: flex-start;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.site-nav .link {
  display: block;
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--cubic);
}

.navigation-list {
  height: 80px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.address-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.address-nav .link {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/foto4.jpg");
  background-position: center;
  max-width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  min-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--main-background-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border-color: transparent;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 32px;
}

.hero-button:focus,
.hero-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section {
  background-color: var(--main-background-color);
}

.container-title {
  display: flex;
  text-align: left;
}

.container-title > li:not(:last-child) {
  margin-right: 30px;
}

.section-work {
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* иконки 2 секции */
.container-list-item::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.icon-antenna::before {
  background-image: url("../images/svg-images/antenna.svg");
  background-size: 70px 70px;
}

.icon-clock::before {
  background-image: url("../images/svg-images/clock.svg");
  background-size: 70px 70px;
}

.icon-laptop::before {
  background-image: url("../images/svg-images/laptop.svg");
  background-size: 70px 70px;
}

.icon-astronaut::before {
  background-image: url("../images/svg-images/astronaut.svg");
  background-size: 70px 70px;
}

.section-title {
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 270px;
}

.section-text {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  width: 270px;
}

.section-images {
  padding-bottom: 94px;
}

.images-title {
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.wrapper-pictures {
  position: relative;
}

.wrapper-list {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.wrapper-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
/*# sourceMappingURL=main.css.map */