.icon-antenna::before {
  background-image: url("../images/svg-images/antenna.svg");
  background-size: 70px 70px;
}

.icon-clock::before {
  background-image: url("../images/svg-images/clock.svg");
  background-size: 70px 70px;
}

.icon-laptop::before {
  background-image: url("../images/svg-images/laptop.svg");
  background-size: 70px 70px;
}

.icon-astronaut::before {
  background-image: url("../images/svg-images/astronaut.svg");
  background-size: 70px 70px;
}
