.footer-join {
  width: 206px;
  height: 80px;
  display: block;
  text-align: left;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
