.checkbox input {
  margin-right: 8px;

  position: absolute;

  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  border: 2px solid var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.checkbox-input ~ .label {
  display: inline-flex;
  align-items: center;
}
